.avatar {
    overflow: hidden;

    // Sizes
    &.avatar-sm {
        width: 48px;
        height: 48px;
        max-width: 48px;
        max-height: 48px;
    }
    &.avatar-md {
        width: 64px;
        height: 64px;
        max-width: 64px;
        max-height: 64px;
    }
    &.avatar-lg {
        width: 96px;
        height: 96px;
        max-width: 96px;
        max-height: 96px;
    }
    &.avatar-xl {
        width: 128px;
        height: 128px;
        max-width: 128px;
        max-height: 128px;
    }
    &.avatar-2xl {
        width: 192px;
        height: 192px;
        max-width: 192px;
        max-height: 192px;
    }

    img {
        width: 100%;
        height: auto;
    }

    // Shapes
    &.avatar-circle {
        border-radius: 50%;
    }

    // Placeholder
    .placeholder {
        width: 100%;
        padding: 0.25rem;
    }
}
