.tag {
    color: var(--tag-text);
    border-radius: 0.5rem;
    width: fit-content;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;

    // Set icon color to text color of button
    :deep(.icon) {
        color: currentColor;
    }

    // Variants
    &.tag-primary {
        background-color: var(--tag-bg-primary);
    }
    &.tag-secondary {
        background-color: var(--tag-bg-secondary);
    }
    &.tag-tertiary {
        background-color: var(--tag-bg-tertiary);
    }

    // Sizes
    &.tag-sm {
        padding: 4px 8px;
        @apply text-sm;
    }
    &.tag-md {
        padding: 4px 8px;
        @apply py-2 pl-3;
    }

    div.close {
        border-radius: 50%;
        padding: 0.25rem;
        margin-left: 0.5rem;

        &:hover {
            background-color: var(--tag-close-hover);
        }
    }
}
